<header id="header">
	{{ page.header.topheaderblock }}
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-4">
				{{ page.header.sitebranding }}			
			</div>
			<div class="col-sm-8 col-md-8">
				<div class="row">
					<div class="col-md-10 pull-right headerlogo">
						{{ page.header.selecteurdelangue }}
					</div>				
					<div class="col-md-10 pull-right headercontact">
						{{ page.header.headercontact }}
					</div>
					<div class="col-md-10 pull-right headersearch">
						{{ page.header.searchproductblock }}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ page.header.mainnavigation }}
</header>
{{ page.content }}


